section.basic-page-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  animation: 2s fadeInUp;
}

section.basic-page-content .content {
  width: 100%;
}

.sidebar {
  max-width: 280px;
  width: 100%;
  padding-top: 80px;
}

.sidebar-title {
  font-family: var(--font-fira-sans);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--color-primary);
}

.short-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.short-card {
  background-color: var(--color-primary-light);
  padding: 16px;
  border-radius: 10px;
}

.short-card.active {
  background-color: var(--color-primary);
}

.short-card.active a {
  color: var(--color-white);
  font-weight: 700;
}

.short-card a {
  color: var(--color-black);
  font-family: var(--font-jost);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.short-card-icon {
  max-width: 30px;
  width: 100%;
  height: 30px;
  background-size: 27px;
  background-position: center;
  background-repeat: no-repeat;
}

.short-card-icon.book {
  background-image: url("images/book-open-blue.svg");
}
.short-card-icon.notice {
  background-image: url("images/notice-blue.svg");
}
.short-card-icon.terminal {
  background-image: url("images/terminal-window-blue.svg");
}

.short-card.active .short-card-icon.book {
  background-image: url("images/book-open.svg");
}
.short-card.active .short-card-icon.notice {
  background-image: url("images/notice.svg");
}
.short-card.active .short-card-icon.terminal {
  background-image: url("images/terminal-window.svg");
}

.page-data {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.1);
  margin-bottom: 20px;
}

.page-title {
  font-size: 36px;
  margin: 0;
  max-width: 50%;
  line-height: 1.2;
  font-family: var(--font-fira-sans);
}

.authoring-information {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-family: var(--font-roboto);
  margin-top: 16px;
}

.authoring-information > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.authoring-information > div:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.authoring-information > div.author:before {
  background-image: url("images/user.svg");
}
.authoring-information > div.date:before {
  background-image: url("images/clock.svg");
}

@media only screen and (max-width: 768px) {
  section.basic-page-content {
    flex-wrap: wrap;
  }

  .sidebar {
    max-width: 100%;
    order: 2;
    padding-top: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  .page-title {
    max-width: 100%;
  }
}