:root {
  --color-primary: #0699FF;
  --color-primary-light: #F2F9FF;
  --color-white: #fff;
  --color-black: #000;

  --font-jost: "Jost", sans-serif;
  --font-fira-sans: "Fira Sans", serif;
  --font-roboto: "Roboto", serif;

  --screen-mobile: 768px;
}

body {
  margin: 0;
  font-family: var(--font-jost);
  font-weight: 400;
  letter-spacing: -0.06px;
}

.container {
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}

.btn-primary {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-family: var(--font-roboto);
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/**
 * Mobile styles.
 */
@media only screen and (max-width: 768px) {
  .btn-primary {
    font-size: 0;
    background-image: url("images/pencil.svg");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px;
    display: block;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-image: url("images/pencil-white.svg");
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}